/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    height: 100vh;
    color: white;
}

/* PASSWORD GENERATOR STYLE */
.bg{
    background-image: radial-gradient(transparent, black), url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
    filter: blur(8px);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .generator{
    background-image: linear-gradient(45deg, rgba(0, 7, 10, 0.521), rgba(0, 100, 100, 0.5));
    padding: 4.5rem 3.5rem 3.5rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0px 5px 29px 0px rgba(7, 7, 7, 0.527);
}

.container .generator .password{
    display: inline-block;
    padding: 1rem 0;
    margin-top: 1rem;
    background-image: linear-gradient(to top, rgb(44, 5, 5), rgb(94, 0, 0));
    border-radius: 10px;
    box-shadow: 0px 3px 10px 0px rgba(7, 7, 7, 0.527);
    cursor: pointer;
}

.container .generator .password:hover{
    background-image: linear-gradient(to top, rgb(124, 16, 16), rgb(139, 3, 3)); 
}

.container .generator h1,
.container .generator hr,
.container .generator p{
    margin-bottom: 1rem;
}

.container .generator hr{
    border: none;
    border-bottom: 1px solid white;
}

.container .generator h5{
    display: inline-block;
    cursor: pointer;
    text-shadow: 1px 2px 10px black;
    margin: 0.8rem 0;
    transition: transform 200ms;
}

.container .generator h5:hover{
    transform: scale(1.1);
}

.container .generator h3, 
.container .generator i{
    display: inline-block;
}

.container .generator .password #psw{
    outline: none;
    color: white;
    background: transparent;
    border: none;
    text-align: center;
    font-size: 1rem;
    width: 70%;
    cursor: pointer;
}

.container .generator i{
    vertical-align: top;
    font-size: 1.2rem;
}